{% extends "pm/base.html" %}
{% load static %}
{% block title %}Σύνδεση | Διαχείριση Ακινήτων{% endblock %}

{% block content %}
  <section class="auth-card">
    <h1>Σύνδεση</h1>
    <form method="post" class="form auth-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-row">
        <label for="id_username">Όνομα Χρήστη</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="form-row">
        <label for="id_password">Κωδικός Πρόσβασης</label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn">Σύνδεση</button>
      </div>
    </form>
  </section>
{% endblock %}
