{% extends "pm/create_lease.html" %}

{% block title %}Edit Lease{% endblock %}

{% block head %}Edit Lease{% endblock head %}

{% block edit_view %}
<div class="form-row">
    <label for="{{ lease.amount_paid }}">Total Amound Paid</label>
    <input type="text" id="property" value="{{ lease.amount_paid }}" disabled>
</div>
{% endblock edit_view %}

{% block btn %}Edit Lease{% endblock btn %}
{% block edit %}
<a href="{% url "delete_lease" lease.id %}" class="btn btn-outline" onclick="return confirm('Are you sure you want to delete this lease? This action cannot be undone.')">Delete</a>
{% if lease.monthly_payment_status.lower == 'pending' %}
<button class="btn btn-outline"><a href="{% url "submit_payment" lease.id %}" class="btn btn-outline">Submit Payment</a></button>
{% endif %}

{% endblock edit %}