{% extends "pm/create_lease.html" %}

{% block title %}Επεξεργασία Μίσθωσης{% endblock %}

{% block head %}Επεξεργασία Μίσθωσης{% endblock head %}

{% block edit_view %}
<div class="form-row">
    <label for="{{ lease.amount_paid }}">Συνολικό Ποσό Πληρωμής</label>
    <input type="text" id="property" value="{{ lease.amount_paid }}" disabled>
</div>
{% endblock edit_view %}

{% block btn %}Επεξεργασία Μίσθωσης{% endblock btn %}
{% block edit %}
<a href="{% url "delete_lease" lease.id %}" class="btn btn-outline" onclick="return confirm('Είστε σίγουροι ότι θέλετε να διαγράψετε αυτή τη μίσθωση; Αυτή η ενέργεια δεν μπορεί να αναιρεθεί.')"> Διαγραφή</a>
{% if lease.monthly_payment_status.lower == 'pending' and lease.months_due > 0 %}
<a href="{% url "submit_payment" lease.id %}" class="btn btn-outline">Υποβολή Πληρωμής</a>
{% endif %}

{% endblock edit %}