{% extends 'pm/base.html' %}

{% block title %}Home{% endblock %}

{% block staff_nav %}
  {% if user.is_staff %}
    <li class="nav-item"><a class="btn" href="{% url 'home' %}">Dashboard</a></li>
    <li class="nav-item"><a class="btn" href="{% url 'manage_properties' %}">Manage Properties</a></li>
    <li class="nav-item"><a class="btn" href="{% url 'home' %}">Users</a></li>
  {% else %}
    <li class="nav-item"><a class="btn" href="{% url 'report_problem' %}">Report Problem</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Welcome to Property Management</h2>
  <h2>Reported Problems</h2>
    <hr style="border-color: var(--primary); margin-bottom: 1rem;">
  {% for problem in problems %}
    <div class="problem-card">
        <div class="problem-header">
        <h3 class="problem-title">Reported by: {{ problem.tenant }}</h3>
        </div>
        <div class="problem-body">
        <h2>Address: {{ problem.property }}</h2>
        <p class="problem-description">{{ problem.description }}</p>
        </div>
        <div class="form-actions">
            <a class="btn btn-outline" href="{% url "solve_problem" problem.id %}">Mark as Solved</a>
        </div>
    </div>
    {% empty %}
    <p>No Problems!</p>
  {% endfor %}
  <hr style="border-color: var(--primary); margin-bottom: 1rem;">
{% endblock %}