{% extends 'pm/home.html' %}

{% block title %}Διαχείριση Ακινήτων{% endblock %}

{% block content %}
  <h2>Τα Ακίνητά μου</h2>

  {% if properties or complexes %}
    {% if complexes %}
      <h3>Συγκροτήματα Ακινήτων</h3>
      <div class="property-grid">
        {% for complex in complexes %}
          <div class="property-card">
            <div class="property-header">
              <h3>{{ complex.address }}</h3>
              <span class="status complex">{{ complex.units.count }} UNITS</span>
            </div>
            {% for unit in units %}
              {% if unit.complex == complex %}
                <strong>{{unit.nickname}}</strong> - Όροφος:{{unit.floor}} Αριθμός:{{unit.number}} - {{unit.get_property_type_display}} - <a href="{% url 'manage_unit' unit.id %}" class="btn btn-outline">Διαχείριση Μονάδας</a><br>
              {% endif %}
            {% endfor %}
            {% if not units %}
              <p style="text-align: center;">Δεν έχουν προστεθεί μονάδες</p>
            {% endif %}
            <div class="property-details">
              <div style="text-align: center; margin-top: 10px;">
                <a href="{% url "add_property_to_complex" complex.address %}" class="btn btn-primary">Προσθήκη Μονάδας</a>
                <a href="{% url "delete_complex" complex.id %}" class="btn btn-outline" onclick="return confirm('Είστε σίγουροι ότι θέλετε να διαγράψετε αυτό το συγκρότημα; Αυτή η ενέργεια δεν μπορεί να αναιρεθεί.')"> Διαγραφή Συγκροτήματος</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr style="margin: 40px 0;">
    {% endif %}
    <h3>Μεμονωμένα Ακίνητα</h3>
    <div class="property-grid">
      {% for property in properties %}
        <div class="property-card">
          <div class="property-header">
            <h3>{{ property.address }}</h3>
            {% if property.status == 'available' %}
            <span class="status {{ property.status|lower }}"><h2 style="color:#97f75c">{{ property.status.upper }}</h2></span>
            {% else %}
            <span class="status {{ property.status|lower }}"><h2 style="color:#f73434">{{ property.status.upper }}</h2></span>
            {% endif %}
          </div>
          <div class="property-details">
            <p><strong>Τύπος:</strong> {{ property.get_property_type_display }}</p>
            <p><strong>Μέγεθος:</strong> {{ property.property_size }}</p>
            <p><strong>Δωμάτια:</strong> {{ property.bedrooms }} | <strong>Μπάνια:</strong> {{ property.bathrooms }}</p>
            <p><strong>Χώροι Στάθμευσης:</strong> {{ property.parking_spaces }}</p>
            <p><strong>Προσθέτες Παροχές:</strong> {{ property.amenities }}</p>
            <p><strong>Περιγραφή:</strong> {{ property.description }}</p>
            <div style="text-align: center; margin-top: 10px;">
              {% if property.id in leased_properties %}
                  <a href="{% url "edit_lease" property.id %}" class="btn btn-outline">Προβολή Μίσθωσης</a>
              {% else %}
                <a href="{% url "create_lease" property.id %}" class="btn btn-primary">Δημιουργία Μίσθωσης</a>
              {% endif %}
            </div>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a href="{% url "edit_property" property.id %}" class="btn btn-primary">Επεξεργασία Ακινήτου</a>
            <a href="{% url "delete_property" property.id %}" class="btn btn-outline" onclick="return confirm('Είστε σίγουροι ότι θέλετε να διαγράψετε αυτό το ακίνητο; Αυτή η ενέργεια δεν μπορεί να αναιρεθεί.')"> Διαγραφή Ακινήτου</a>
          </div>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <p>Δεν έχετε προσθέσει ακόμη ακίνητα.</p>
  {% endif %}
  <div style="text-align: center; margin-top: 20px;">
    <a href="{% url "new_property_page" %}" class="btn btn-primary">Προσθήκη Ακινήτου</a>
  </div>
{% endblock %}