{% extends "pm/home.html" %}

{% block title %}Submit Payment{% endblock %}

{% block content %}
<h2>Submit Payment for the Lease regarding {% if lease.property %}{{ lease.property.address }}{% else %}{{ lease.unit.nickname }} - {{ lease.unit.complex.address }}{% endif %}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-actions">
        <button onclick="return confirmSubmission()" type="submit" class="btn btn-primary">Submit Document</button>
    </div>
</form>
{% endblock %}

{% block js %}
<script>
function confirmSubmission() {
  return confirm("Are you sure you want to submit the payment?");
}
</script>
{% endblock js %}